<a href="https://colab.research.google.com/github/munjurulahsan/c-practice/blob/main/FirstClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x=5
y= "Hello World"
print(type(x))
print(type(y))
#This is single line command

<class 'int'>
<class 'str'>

In [8]:
x=4
x= "sallay"
print(x)

sallay

In [9]:
x= str(3)
y=int (3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [10]:
x,y,z= "orange","Banana", "Cherry"
print(x)
print(y)
print(z)

orange
Banana
Cherry

In [15]:
fruits=["apple","banana","cherry"]
x,y,z=fruits
print (x)
print(y)
print(z)

apple
banana
cherry

In [23]:
x="awesome"

def myfunc():
  x="fantastic"
  print("Python is "+ x)

myfunc()
print("Python is "+ x)

Python is fantastic
Python is awesome

In [29]:
import random
print(random.randrange(1,1000))

870

In [32]:
b="Hello World"
print(b[-5:-2])

Wor

In [33]:
age =36
txt="My name is john , and I am {}"
print(txt.format(age))

My name is john , and I am 36